.header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 7px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    width: max-content;
    margin: 0px auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FF9B09;
    font-weight: 600;
    font-size: 18px;
}

.nav-links a:hover {
    color: #d87d07;
}

.logo {
    width: 50px;
}