.footer {
    background-color: #FF9B09;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}
